<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"
            type="text/javascript"></script>
    <script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>

    <!-- Skeleton CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">

    <!-- Reveal JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/reveal.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/simple.min.css">

    <!-- Custom CSS and JS-->
    <link rel="stylesheet" href="main.css">
    <script src="angular.js" type="text/javascript"></script> <!-- Custom angular -->
</head>
<body ng-app="app">
<div class="reveal" ng-controller="MainController">
    <div class="slides">
        <section>
            <section>
                <img src="https://angularjs.org/img/AngularJS-large.png" align="AngularJS">
                <h3 class="fragment">(And JavaScript)</h3>
            </section>
            <section data-markdown>
                ## Why teach you Angular?

                ### [Built with Angular](https://www.madewithangular.com/#/)
            </section>
            <section data-markdown>
                ## We are using Angular 1.5.8

                * Angular 2 is out
                * Not yet industry standard
            </section>
        </section>

        <section>
            <section>
                <h2>About me</h2>
                <div class="fragment" data-markdown>
                    * Political science from Aarhus University
                    * Software development from IT-University
                    * 4 years of work experience
                </div>
                <div class="fragment" data-markdown>
                    ----
                    * Generally a nice guy
                    * Don't be afraid to ask questions
                </div>
            </section>
            <section>
                <h2>About the lectures</h2>

                <p>One-way communication
                <p>

                <p class="fragment">You receive information</p>

                <p class="fragment">Make sure you understand it!</p>
            </section>
            <section>
                <h2>Exploit what we prepared for you</h2>
                <br/>
                <h3><a href="https://en.wikipedia.org/wiki/Bloom%27s_taxonomy">Bloom's Taxonomy</a></h3>
                <br>
                <ul>
                    <li class="fragment">Lecture = Understand</li>
                    <li class="fragment">Lecture + Preparation = Analyzing</li>
                    <li class="fragment">Lecture + Preparation + Exercises = Evaluating</li>
                </ul>
            </section>
        </section>

        <section>
            <section>
                <h1>JavaScript</h1>
            </section>
            <section>
                <eval>var lasse = "hi"</eval>
            </section>
            <section data-markdown>
                ## JavaScript: the bad parts

                * Always use `===`
                * Never ever ever use `==`
                * Always use `;`
                * Always use `{}` in control statements (`if`, `for`, `while`)
                * Use function scope heavily
            </section>
            <section data-markdown>
                ## JavaScript
                ### So bad it's used for standup
                ----
                ###[Brian Leroux: WTFJS](https://www.youtube.com/watch?v=et8xNAc2ic8)
            </section>
        </section>

        <section data-markdown>
            ## Day 1

            * Understand how to manipulate the DOM
            * Understand the Model-View-Controller pattern
            * Understand data two-way binding
            * Understand and create simple AngularJS applications
        </section>

        <section>
            <section data-markdown>
                ## HTML

                ### Hypertext Markup Language

                * Presents and arranges HTML
            </section>
            <section data-markdown>
                ## How can we show data?

                * Webserver has the data
                * HTML does the presentation
                * How does the data get into the HTML?
            </section>
            <section data-markdown>
                ## Solution #1

                1. Webserver fetches the data
                2. Webserver inserts it into the HTML
                3. Webserver sends the rendered HTML to the client
            </section>
            <section>
                <img src="One_Way_Data_Binding.png">
            </section>
            <section>
                <h3>What is a webserver?</h3>

                <ul>
                    <li class="fragment">Application data</li>
                    <li class="fragment">HTML</li>
                    <li class="fragment">JavaScript</li>
                </ul>
            </section>
            <section data-markdown>
                ## Solution #2

                Webserver delegates control

                1. Webserver sends static resources to client
                2. Client executes application
                3. Application fetches data from the webserver
            </section>
            <section>
                <h2>What if the data changes?</h2>
            </section>
        </section>

        <section>
            <section data-markdown>
                ## DOM

                ### Document object model
                ![DOM](DOM.svg)
            </section>
            <section data-markdown>
                ## DOM

                * Tree structure
                * Hierarchical
                * How do you update an element?
            </section>
            <section>
                <h2>Active DOM updates</h2>
                <h2>aka. one-way data binding</h2>
                <div id="dom-update">Hello World</div>
                <pre>&lt;div id="dom-update"&gt;Hello World&lt;/div&gt;</pre>
                <eval></eval>
            </section>
            <section>
                <h2>How would you make it reactive?</h2>
                <h3 class="fragment">Listener architecture</h3>
            </section>
            <section>
                <span id="dom-update2">Hello World</span>
                <a class="btn" id="dom-update2-a">Click me!</a>
                <pre>&lt;span id="dom-update2"&gt;Hello World&lt;/span&gt;
&lt;a id="dom-update2-a"&gt;Click me!&lt;/a&gt;</pre>
                <eval></eval>
            </section>
            <section>
                <h2>Why is this bad?</h2>
                <img src="spaghetti_code.jpg" class="fragment">
            </section>
        </section>

        <section>
            <section data-markdown>
                ## Meet the Model-View-Controller

                * Model
                * Contains data
                * View
                * Presents data
                * Control
                * Controls the application flow
            </section>
            <section>
                <h2>MVC</h2>
                <div class="seven columns fragment">
                    <img src="MVC-Process.svg">
                </div>
                <div class="five columns">
                    <h3 class="fragment">In a traditional webservice</h3>
                    <ul>
                        <li class="fragment">Who models?</li>
                        <li class="fragment">Who views?</li>
                        <li class="fragment">Who controls?</li>
                    </ul>
                </div>
            </section>
            <section>
                <h2>Meet Model-View-Controller</h2>
                <div class="seven columns">
                    <img src="MVC-Process.svg">
                </div>
                <div class="five columns">
                    <h3>In an Angular webservice</h3>
                    <ul>
                        <li class="fragment">Who models?</li>
                        <li class="fragment">Who view?</li>
                        <li class="fragment">Who controls?</li>
                    </ul>
                </div>
            </section>
            <section data-markdown>
                ## Two-way data binding

                ### What if data updates happend automatically?
            </section>
            <section>
                <span ng-bind="two"></span>
                <br>
                <input type="text" ng-model="two">
            </section>
            <section>
                <img src="Two_Way_Data_Binding.png"/>
            </section>
            <section data-markdown>
                ## Angular two-way binding

                Two steps:
                1. Find a change
                2. Update the DOM
            </section>
            <section data-markdown>
                ## Step 1: Angular `scope`

                * 'Glue' between controller and view
                * 'Watches' for changes in the data and triggers updates
            </section>
            <section data-markdown>
                ## Step 2: Angular `compile`

                * Find relevant DOM nodes
                * Insert `scope` data to produce a view
            </section>
            <section data-markdown>
                ## Angular two-way binding example
                `&lt;span ng-bind="two"&gt;&lt;/span&gt;`
                `&lt;input type="text" ng-model="two"&gt;`
            </section>
            <section>
                <img src="Two_Way_Data_Binding.png"/>
            </section>
        </section>

        <section>
            <section data-markdown>
                ## Using AngularJS

                * Angular expressions
                * Angular modules
                * Angular controllers
                * Angular directives
            </section>
            <section>
                <h2>Angular expressions</h2>

                <p>In HTML or as an attribute</p>

                <table>
                    <tr>
                        <th>HTML</th>
                        <td><code ng-non-bindable>&lt;span&gt;{{ 1 + 2 }}&lt;/span&gt;</code></td>
                    </tr>
                    <tr>
                        <th>Attribute</th>
                        <td><code>&lt;span ng-bind=&quot;1 + 2&quot;&gt;&lt;/span&gt;</code></td>
                    </tr>
                </table>

                <hr>

                <p class="fragment">Can also refer to variables or functions in your scope</p>
            </section>
            <section>
                <h2>Angular modules</h2>

                <p>A module contains a part of your application</p>

                <h4><code>JavaScript</code></h4>
                <code>var myAngularModule = angular.module('myModule', []);</code>
                <h4><code>HTML</code></h4>
                <code>&lt;div ng-app=&quot;myModule&quot;&gt;&lt;/div&gt;</code>
            </section>
            <section data-markdown>
                ## Angular controllers

                A controller controls the logic of a part of the application
                (typically a page).

                `myAngularModule.controller('MyController", `
                `function() {});`

                To add a scope:

                `myAngularModule.controller('MyController", `
                ` function($scope) {`
                ` $scope.name = "Donald Trump"`
                `});`
            </section>
            <section ng-non-bindable data-markdown>
                ## Angular directives

                Code that binds data to the view.

                Example: `ng-repeat`

                `$scope.names = ['Hillary', 'Donald'];`

                `&lt;ul ng-repeat=&quot;name in names&quot;&gt;`
                ` &lt;li&gt;{{name}}&lt;/li&gt;`
                `&lt;/ul&gt;`
            </section>
            <section>
                <h2>Creating an Angular page</h2>
<pre ng-non-bindable>&lt;!doctype html&gt;
&lt;html ng-app="optionalModuleName"&gt;
&lt;body&gt;
I can add: {{ 1+2 }}.
&lt;script src="angular.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
                {{ "Hello" | json }}
            </section>
            <section data-markdown>
                ## Pro tip: Use a CDN
                ### Content delivery network

                ![CDN](cdn.png)
            </section>
        </section>

        <section data-markdown>
            ## Day 2

            * Understand the benefits of Angular
            * Understand and use controllers
            * Understand single-page applications
            * Understand and use routing
        </section>

        <section>
            <section data-markdown>
                ## What can Angular give me?

                * Avoid registering callbacks
                * Separate DOM manipulation from application logic
                * AJAX and (un)marshalling out of the box
            </section>
            <section data-markdown>
                ## Angular modules

                ![Angular modules](angularModule.png)
            </section>

            <section data-markdown>
                ## Angular controllers

                * Can assign things to `$scope`
                * Can add behaviour to the `$scope`
                * Written in JavaScript
            </section>

            <section data-markdown>
                ## Angular directives

                * Can add behaviour to HTML
                * Written inline in HTML
                * Compiled by angular
            </section>
            <section data-markdown>
                ## Combining controllers and directives 1/2

                ![Angular data binding](concepts-databinding1.png)
            </section>
            <section data-markdown>
                ## Combining controllers and directives 2/2

                ![Angular data binding](concepts-databinding2.png)
            </section>
            <section data-markdown>
                [JS Bin example](http://jsbin.com/roxifizica/edit?html,js,output)
            </section>
            <section data-markdown>
                ## What if you want to share state (`$scope`) across controllers?
            </section>
            <section>
                <h2>Services</h2>
<pre>myModule.factory("MyService",
    function() {
        return {};
    });</pre>
            </section>
            <section data-markdown>
                ## Currency converter
                [JS Bin example](http://jsbin.com/roxifizica/edit?html,js,output)
            </section>
            <section data-markdown>
                ## Combining controllers and services

                ![Services](concepts-module-service.png)
            </section>
        </section>

        <section>
            <section>
                <h2>Old webservers</h2>

                <ul>
                    <li class="fragment">One request one file</li>
                    <li class="fragment">Typically <code>.html</code></li>
                    <li class="fragment">One server, many <code>.html</code> files</li>
                </ul>
            </section>
            <section>
                <h2>New webservers</h2>

                <ul>
                    <li class="fragment"> One request one piece of data</li>
                    <li class="fragment"> Typically `JSON`</li>
                    <li class="fragment"> One server,
                        <span class="fragment">one .html</span> <span class="fragment">but many templates</span>
                    </li>
                </ul>
                <img src="one_ring.png" align="One ring" class="fragment">
            </section>
            <section data-markdown>
                ## Single-page applications

                * One page
                * Multiple views
            </section>
            <section data-markdown>
                ## Angular dependencies

                Angular routing in separate `.js` file (find it on a CDN)

                Before

                `angular.module("ModuleName", [])`

                After
                `angular.module("ModuleName", ['ngRoute'])`
            </section>
            <section>
                <h2>Angular routing</h2>
<pre>
myModule.config(function($routeProvider) {
    $routeProvider
        .when('/home', {})
</pre>
<pre class="fragment">
        .otherwise({});
}
</pre>
                <p class="fragment">What to put in the objects?</p>
            </section>
            <section ng-non-bindable data-markdown>
                ## Templating

                Simply `HTML` with 'holes'

                Can be either inline or in a separate `.html` file

                ----
                `{{variable}}`
                `&lt;span ng-bind=&quot;variable&quot;&gt;&lt;/span&gt;`
            </section>
            <section ng-non-bindable>
                <h2>Routing with templates</h2>

<pre>.when('/home', {
  template: '{{variable}}'
}

.when('/home', {
  templateUrl: 'pages/home.html'
}</pre>
            </section>
            <section ng-non-bindable>
                <h2>Routing with controllers</h2>
<pre>
myModule.controller("MyController",
    function() {...}
);
</pre>
<pre>.when('/home', {
  controller: 'MyController',
  templateUrl: 'pages/home.html'
}</pre>
            </section>
            <section data-markdown>
                ## Angular routing example

                [JS Bin example](http://jsbin.com/roxifizica/edit?html,js,output)
            </section>
            <section>
                <h2>Single-page applications pros and cons</h2>
                <div class="six columns fragment" data-markdown>
                    * Clients are getting faster
                    * Reduces network traffic
                    * Offline applications
                    * Easier and simpler code
                    * Hardware getting better!
                </div>
                <div class="six columns fragment" data-markdown>
                    * Big first request!
                    * Poor client performance
                    * Compatibility (IE)
                    * (Can be) hard to test
                </div>
            </section>
        </section>
    </div>
</div>
<div class="header three columns u-pull-right">
    <img src="cphbusiness.jpeg" align="CPH Business"><br>
    <pre><a href="mailto:jeep@cphbusiness.dk">jeep@cphbusiness.dk</a> | <a
            href="https://github.com/jegp/cphbusiness-module3" title="GitHub cphbusiness-module3">GitHub</a></pre>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/js/reveal.min.js"
        type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/lib/js/head.min.js"
        type="text/javascript"></script>
<script type="text/javascript">

    // Initialise Reveal
    Reveal.initialize({
        // Push slide progress to browser
        history: true,
        // Add dependencies dynamically
        dependencies: [
            // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
            {
                src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/lib/js/classList.min.js',
                condition: function () {
                    return !document.body.classList;
                }
            },

            // Interpret Markdown in <section> elements
            {
                src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/markdown/marked.js',
                condition: function () {
                    return !!document.querySelector('[data-markdown]');
                }
            },
            {
                src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/markdown/markdown.js',
                condition: function () {
                    return !!document.querySelector('[data-markdown]');
                }
            },

            // Syntax highlight for <code> elements
            {
                src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/highlight/highlight.js',
                async: true,
                callback: function () {
                    hljs.initHighlightingOnLoad();
                }
            },

            // Zoom in and out with Alt+click
            {src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/zoom-js/zoom.js', async: true},

            // Speaker notes
            {src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/notes/notes.js', async: true},

            // MathJax
            {src: 'https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/plugin/math/math.js', async: true}
        ]
    });
</script>
</body>
</html>